<div class="row-fluid">
  <div class="col-xs-12">
    <div id="map-container">
      <div id="map"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>

  <script type="text/javascript" async defer>
    var handler = Gmaps.build('Google');
    handler.buildMap({
        provider: {
              // pass in other Google Maps API options here

              // The latitude and longitude to center the map (always required)
              center: new google.maps.LatLng(48.8529680, 2.3499030),
              // How you would like to style the map.
              // This is where you would paste any style found on Snazzy Maps.
              styles: [
                  {
                      "featureType": "administrative",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "color": "#444444"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.locality",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "lightness": "-100"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.neighborhood",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "lightness": "0"
                          },
                          {
                              "saturation": "-11"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.neighborhood",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "saturation": "5"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#f2f2f2"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "lightness": "-5"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "lightness": "0"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.natural",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "lightness": "-5"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.natural",
                      "elementType": "labels.text.stroke",
                      "stylers": [
                          {
                              "lightness": "-29"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.natural.landcover",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "lightness": "-5"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "all",
                      "stylers": [
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": 45
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "road.arterial",
                      "elementType": "labels.icon",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "visibility": "on"
                          }
                      ]
                  }
              ]
            },
        internal: { id: 'map' }
      },
      function(){
          markers = handler.addMarkers([
            {
              "lat": 43.5766,
              "lng": 7.0191,
              "picture": {
                "url": "http://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=glyphish_skull|EE5F5B",
                "width":  64,
                "height": 64
              },
              "infowindow": "hello!"
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
        }
      );
  </script>

  <!-- Custom JS code to bind to Autocomplete API -->


<% end %>
