<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"></i>LaPompeÀProtos <%= Time.now.year %>
  </div>
</div>
