<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"></i> <%= Time.now.year %> Clem
  </div>
</div>
