<div class="container" style="height: 200px;padding: 150px;">
  <p><i class="far fa-copyright"></i>Studio_East (Photo)</p>
  <p></p>
  <p><i class="far fa-copyright"></i>Aldric Rodríguez from The Noun Project (Logo)</p>
</div>
