<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "wrapper-2.jpg" %>');">
  <div class="container">
    <h1><strong>C'est Arrivé Près de Chez Vous</strong></h1>
    <p></p>
    <p>Cartographie des grandes affaires criminelles</p>


    <div class="row">
      <div class="col-md-6 col-sm-offset-2">
        <%= simple_form_for :search, url: victims_path, method: :get do |f| %>
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i> Chercher
            </button>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
