<div id="top" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "wrapper-1.jpg" %>');">
  <div class="container">
    <h1><strong>C'est Arrivé Près de Chez Vous</strong></h1>
    <p>Cartographie des grandes affaires criminelles</p>
  </div>
</div>

