.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #5FCC80;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 0.8;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.btn-flat {
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  background: #616668;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: black;
  color: white;
}
