.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
  margin: 0 10px;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 7px;
  margin: 0 7px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: black;
  opacity: 0.50;
}
.navbar-wagon-link:hover {
  opacity: 1;
  text-decoration: none !important;
}

/* Navbar switch */

.navbar-wagon-switch {
  color: rgba(0,0,0,0.45);
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 7px;
  margin: 0 7px;
  text-decoration: none !important;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #FF642E;
  color: white;
  font-size: 14px;
  border: 2px solid #f2542d;
}
.navbar-wagon-button:hover {
  color: white;
  background: #f2542d;
  border-color: #f2542d;
}
